body, html {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
  }
  
  #background {
    position: relative;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: visible;

  }
  
  #bg-img {
    height: 100%;
    width: auto;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }


  
body {
  -webkit-user-select: none; 
  -ms-user-select: none;     
  user-select: none;         
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: none; 
}

* {
  draggable: false;
}

* {
  -webkit-tap-highlight-color: transparent;
}
  
  
  .fish-icon {
    position: absolute;
    width: 100px;
    text-align: center;
    color: white;
    font-family: Helvetica;
    pointer-events: auto;
  }
  
#modal-genome .modal-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;        
  max-height: 439px;    
}


#modal-genome .modal-content img {
  width: 100%;
  height: auto;         
  display: block;
}


/* Override only for genome modal */
#modal-cladogram .modal-content {
  overflow-y: auto;
  overflow-x: auto;
  height: auto;         
  max-height: 439px;    
}


#modal-cladogram .modal-content img {
  width: 200%;
  height: auto;        
  display: block;
}


  .fish-img-wrapper img {
    width: 100px;
    display: block;
    margin: 0 auto;
    pointer-events: none;
  }
  
 /* Normal caption style */
.caption {
  margin-top: 4px;
  color: white;
  font-family: Helvetica;

  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.9);
  padding: 2px ;
  display: inline-block; 
  width: auto; 
}

.caption-container {
  margin-top: 4px;
  text-align: center; 
  width: 100%;
}

  

.modal {
  position: absolute;
  width: 795px;
  height: 491px;
  transform: scale(0.1);
  transform-origin: top left;
  z-index: 10;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
}

.modal-inner {
  transform: scale(0.75);
  transform-origin: top left;
  width: 795px;
  height: 491px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.35);
}
  #modal-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .modal-bg {
    width: 100%;
    height: auto;
    display: block;
  }


  /* New content panel */
.modal-content {
  position: absolute;
  top: 52px;
  left: 0;
  width: 795px;
  height: 439px;
  overflow: hidden;
}

.modal-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


  .close-container {
    position: absolute;
    top: 19px;
    left: 19px;
    width: 14px;
    height: 14px;
    z-index: 20;
    pointer-events: auto;
  }
  
  .close-icon {
    width: 14px;
    height: 14px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    pointer-events: auto;
  }
  
  .close-container:hover .close-icon {
    display: block;
  }
  
  .hidden {
    display: none;
  }







.caption.highlighted {
  background-color: #0069d9; 
  color: white;
  border-radius: 4px;
  padding: 2px ;
}
